.question {
  display: flex;
  flex-direction: row;
  border-top: #000000 1px dashed;
}

.postStats {
  color: #bbbbbb;
  text-align: center;
  width: 10%;
}

.question_mid {
  width: 60%;
}

.postTitle {
  color: cornflowerblue;
}

.question_tags {
  margin-top: 1%;
}

.question_tag_button {
  color: #ffffff;
  background: gray;
  border-width: 0;
  border-radius: 8px;
  margin-left: 2%;
  padding: 1% 3% 1% 3%;
}

.question_tag_button:first-child {
  margin-left: 0;
}

.lastActivity {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.question_author {
  color: red;
}

.question_meta {
  color: #bbbbbb;
}

.question .collections-btn {
  background-color: rgba(81, 51, 166, 0.85);
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
}

.question .collections-btn:hover {
  background-color: darkblue;
}
